<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971797654341-d11k9jjv05o7ufsslrguc8h5n9ouul66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971797654341-d11k9jjv05o7ufsslrguc8h5n9ouul66</string>
	<key>API_KEY</key>
	<string>AIzaSyBtziyOFYHjBvr1x9c_U3cRKWQgNrlCtgk</string>
	<key>GCM_SENDER_ID</key>
	<string>971797654341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.aravind.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-flutter-63757</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-flutter-63757.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971797654341:ios:4cf0fdd7bdd19b4791ac2c</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-flutter-63757.firebaseio.com</string>
</dict>
</plist>